@font-face {
    font-family: 'tradegothicbold';
    src: url('/Fonts/Trade\ Gothic\ LT\ Bold\ Condensed\ No.\ 20.ttf.ttf');
    src: url('/Fonts/TradeGothicLTBoldCondNo20.woff') format('woff2'),
         url('/Fonts/TradeGothicLTBoldCondNo20.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

} /* TradeGothic LT Condensed Eighteen (Bold) */
* {
    margin: 0;
    padding: 0;
    font-family: 'tradegothicbold';
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
form {
    animation: fadeInAnimation ease-in 0.5s;
    animation-iteration-count: 1;
    
}
/* CSS for navbar, fill with color and set text size and color */
header { 
    display: inline-block;
    width: 100%;
    padding: 20px 0px; 
    background-color: #731D34;
    position: relative; 
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.42);
}
.sticky { 
    position: fixed;
    top: 0;
    z-index: 999;
}
nav { 
    text-align: right;
    margin-right: 2%;
}
nav ul li { 
    margin-right: 1%;
    display: inline-block;
}
nav ul li a { 
    text-decoration: none;
    display: inline-block;
    color: white;
}
nav ul li a:hover { 
    color: #D3A04C;
    transition: 0.5s;
}

.toggle-btn { 
    width: 35px; 
    position: absolute;
    right: 40px;
    top: 20px;
    display: none;
}
.toggle-btn span { 
    width: 90%; 
    height: 1.5px; 
    background-color: white;
    padding: 1.2px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    
}
.active { 
    color: #D3A04C;
}
.spartanwingslogo {
    position: absolute;
    left: 20px;
    width: 50%;
}

form {
    width: 50%;
    position: relative;
    padding-top: 30px;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    
    outline: none;

    padding-bottom: 30px;
    background-color: #731d34e1;
}
fieldset { 
    border: none;
}
.form-container { 
    padding-bottom: 5%;
    padding-top: 100px;
    background: url(/Images/relay.jpg);
    left: 0;
    top: 0;
    width: 100%;
    color: white;

 
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

form h3 {
    font-size: 50px;
    color: white;
    text-align: center;
}
.subtext { 
    text-align: center;
}
form p { 
    font-size: 20px;
    color: white;
    
}
form h4 { 
    font-size: 28px;
    text-align: left;
    margin: 3% 10%;
    color: white;
    margin-bottom: 5px;
    display: flex;
}
form p input { 
    width: 80%;
    height: 5vh;
    margin-bottom: 2vh;
    text-indent: 10px;
    font-size: 16px;
    margin: 0 10%;

}
form p input:focus { 
    outline: none;
    font-weight: bold;
}
textarea { 
    font-size: 18px;
    padding-top: 10px;
    margin: 3% 10%;
    width: 80%;
    text-indent: 10px;
}
.submit-btn {
    width: 80.3%;
    padding: 10px 0 10px 0;
    font-size: 24px;
    color: white;
    margin-right: auto;

    background-color: #D3A04C;
    border: none;
    cursor: pointer;
}
.submit-btn:hover { 
    background-color: #b18133de;
    transition: 0.5s;
}
.submit-btn:focus { 
    border: 2px solid white;
}

.footer { 
    background-color: #141414;
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding-bottom: 3%;
}
.footer-spartan { 
    width: 55%;
    margin-top: 25px;
}
.footer a { 
    color: white;
    text-decoration: none;
}
.street { 
    font-size: 20px;
}
.social-media { 
    margin-top: 5%;
    margin-bottom: 30px;
    display: inline-flex;
}
.sm { 
    width: 50%;
    margin: 0px 20px 0px 20px;
}
.link-container {
    margin-bottom: 15px;
}
.footer-link:hover {
    color: #cfa435;
    transition: 0.5s;
}


@media (max-width: 991px) { 
    .active { 
        background-color: #D3A04C;
        color: white;
        padding: 10px 0;
    }
    /* Code for navbar */
    .toggle-btn {
        display: block;
    }
    header { 
        padding-bottom: 70px;
    }  
    .toggle-btn {
        margin-top: 15px;
    }
    nav { 
        display: none;
        width: 100%;
        border-top: 1px solid white;
        padding-top: 20px;
        margin-top: 40px;
    }
    nav ul {
        margin: 20px 20px 0px 20px; 
        padding: 0;
        transition: .5s; 
    }
    nav ul li{
        padding: 15px 0px; 
        width: 100%;
        text-align: center;
    }
    nav ul li a { 
        position: relative; 
        display: block;  
        text-decoration: none; 
        color: white; 
        transition: .5s; 
        font-size: 22px;
    }
    nav ul li a:hover { 
        padding: 10px 0px;
        background: #D3A04C;
        transition: 0.5s; 
        color: white;
    }
    nav.show { 
        display: block;
        margin-top: 70px;
    }
    .title-bar { 
        margin-top: -0.8%;
    }
    .spartanwingslogo { 
        width: 200px;
        margin-top: 5px;
    }
    /* Code for navbar */
    .form-container { 
        margin-top: -5px;
        height: 120vh;
        margin-bottom: 0;
    }
    form { 
        width: 90%;
        max-width: 500px;
    }
    textarea { 
        height: 100px;
    }
    .submit-btn { 
        margin-left: auto;
    }
}



@media(min-width: 992px) { 
    .coaches-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .spartanwingslogo { 
        width: 250px;
    }
    header { 
        position: sticky;
    }
    nav { 
        padding-bottom: 10px;
    }
    nav ul li a { 
        margin-top: 15px;
        font-size: 20px;
    }
    .footer-grid { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 30px;
        
    }
    .foot-grid { 
        margin-right: 15%;
        margin-left: 15%;
    }
    .footer-spartan { 
        width: 100%;
    }
    .social-media {
        margin-top: 15%;
        width: 100%;
    }
    .street { 
        font-size: 20px;
    }
  
    .link-grid { 
        margin-top: 45px;
    }
    .link-container { 
        font-size: 20px;
    }
    .top-text p { 
        margin-bottom: 10px;
    }
    .active { 
        background-color: #731D34;
    }
}