@font-face {
    font-family: 'tradegothicbold';
    src: url('/Fonts/Trade\ Gothic\ LT\ Bold\ Condensed\ No.\ 20.ttf.ttf');
    src: url('/Fonts/TradeGothicLTBoldCondNo20.woff') format('woff2'),
         url('/Fonts/TradeGothicLTBoldCondNo20.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

} /* TradeGothic LT Condensed Eighteen (Bold) */
* {
    margin: 0;
    padding: 0;
    font-family: 'tradegothicbold';
}
/* CSS for navbar, fill with color and set text size and color */
header { 
    display: inline-block;
    width: 100%;
    padding: 20px 0px; 
    background-color: #731D34;
    position: relative; 
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.42);
}
.sticky {    
    position: fixed;
    top: 0;
    z-index: 999;
}
nav { 
    text-align: right;
    margin-right: 2%;
}
nav ul li { 
    margin-right: 1%;
    display: inline-block;
}
nav ul li a { 
    text-decoration: none;
    display: inline-block;
    color: white;
}
nav ul li a:hover { 
    color: #D3A04C;
    transition: 0.5s;
}

.toggle-btn { 
    width: 35px; 
    position: absolute;
    right: 40px;
    top: 20px;
    display: none;
}
.toggle-btn span { 
    width: 90%; 
    height: 1.5px; 
    background-color: white;
    padding: 1.2px;
    border-radius: 20px;
    margin-bottom: 5px;
    float: left;
    
}


.spartanwingslogo {
    position: absolute;
    left: 20px;
    width: 50%;
}


.active { 
    color: #D3A04C;
}
.spartanwingslogo {
    position: absolute;
    left: 20px;
    width: 50%;
}


.quick-links h3 { 
    text-align: center;
    font-size: 75px;
    margin: 120px 0 20px 0;
}
.quick-link-grid { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
 
   
}
.quick-link { 
    width: 90%;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 0.5em;
    cursor: pointer;
    margin: 5% auto;
}
.athcon { 
    height: 45vh;
}
.quick-link:hover { 
        border: 2px solid #731D34;
        transition: 0.3s;
    
}
.quick-link p {
    font-size: 20px;
}
.quick-link h4 { 
    font-size: 30px;
}
.go-btn { 

    background-color: #731D34;

    padding: 1%;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    width: calc(100% - 2em);
    margin: 3% 0 0 7%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%; 
}
.quick-link a {
    color: #FFF;
   
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    width: 80%;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D3A04C;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
.quick-link a:hover { 
    opacity: 0.8;
    transition: 0.3s;
}

.athleticnetlogo { 
    padding: 30px 0 20px 0;
}
@keyframes transition {
    to {
        background-position: 20vw;
    }
}

@keyframes slideUp { 
    0% {
       /* transform: translateY(40%); */
        opacity: 0;
    }
    100% { 
        transform: translateY(0%);
        opacity: 1; 
    }
}
.quick-links, .footer {
    animation: 0.8s ease-in 1 slideUp;
} 
.logo { 
    max-width: 250px;
    margin: 20px 0;
}

.footer { 
    background-color: #141414;
    color: white;
    text-align: center;
    margin-bottom: -10px;
    padding-bottom: 3%;
}
.footer-spartan { 
    width: 55%;
    margin-top: 25px;
}
.footer a { 
    color: white;
    text-decoration: none;
}
.street { 
    font-size: 20px;
}
.social-media { 
    margin-top: 5%;
    margin-bottom: 30px;
    display: inline-flex;
}
.sm { 
    width: 50%;
    margin: 0px 20px 0px 20px;
}
.link-container {
    margin-bottom: 15px;
}
.footer-link:hover {
    color: #cfa435;
    transition: 0.5s;
}

@media (max-width: 991px) { 
   /* Code for navbar */
   .toggle-btn {
    display: block;
}
header { 
    padding-bottom: 70px;
}  
.toggle-btn {
    margin-top: 15px;
}
nav { 
    display: none;
    width: 100%;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-top: 40px;
}
nav ul {
    margin: 20px 20px 0px 20px; 
    padding: 0;
    transition: .5s; 
}
nav ul li{
    padding: 15px 0px; 
    width: 100%;
    text-align: center;
}
nav ul li a { 
    position: relative; 
    display: block;  
    text-decoration: none; 
    color: white; 
    transition: .5s; 
    font-size: 22px;
}
nav ul li a:hover { 
    padding: 10px 0px;
    background: #D3A04C;
    transition: 0.5s; 
    color: white;
}
nav.show { 
    display: block;
    margin-top: 70px;
}
.title-bar { 
    margin-top: -0.8%;
}
.spartanwingslogo { 
    width: 200px;
    margin-top: 5px;
}
    .records-container  {
        grid-template-columns: repeat(1, 1fr);
    }

    .records-container  {
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-link p { 
        margin: 0 5%;
    }
    .quick-link a { 
        width: 50%;
    }
    .athcon { 
        height: 50vh;
    }
    .go-btn { 
        margin-top: 20px;
    }
    .active { 
        background-color: #D3A04C;
        color: white;
        padding: 10px 0;
    }
    /* .hide-mobile { 
        display: none;
    }
    .show-mobile { 
        width: 60px;
        position: absolute;
        top: 15px;
        left: 30px;
    } */
}
    
    

@media(min-width: 992px) { 
    .spartanwingslogo { 
        width: 250px;
    }
    header { 
        position: sticky;
    }
    nav { 
        padding-bottom: 10px;
    }
    nav ul li a { 
        margin-top: 15px;
        font-size: 20px;
    }
    
    .footer-grid { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 30px;
        
    }
    .foot-grid { 
        margin-right: 15%;
        margin-left: 15%;
    }
    .footer-spartan { 
        width: 100%;
    }
    .social-media {
        margin-top: 15%;
        width: 100%;
    }
    .street { 
        font-size: 20px;
    }
  
    .link-grid { 
        margin-top: 45px;
    }
    .link-container { 
        font-size: 20px;
    }
    .top-text p { 
        margin-bottom: 10px;
    }

    .quick-link-grid { 
        grid-template-columns: repeat(2, 1fr);
        
    }

    

}